.hashtags {
  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 25px;
    }
  }

  &__link {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #888888;
  }
}